#menu {

	background-color: lightgray;
	padding: 10px;		
}


#kategorije{
    float: left;  
    width: 20%;
    height: 1000%;
    line-height: 1.9;
    background-color: #f1f1f1;

}


#trazilica{
    float: right; 
    width: 20%;
    height: 1000%;
    

}

#prikazKategorija{
    float: left;
    width: 60%;
}


.alignright {
    
	float: right;
}

.alignleft {

    float: left;
}

#form {

    float: left;
    padding: 30px;
    line-height: 1.5;
    text-align: left;  
    width: 50%;
    margin: auto;
}

#artikl {
    border-style: groove; 
    float: left;
    padding: 30px;
    line-height: 1.5;
    text-align: center;  
    width: 30%;
    margin: auto;
}