#menu {

	background-color: lightgray;
	padding: 10px;		
}


#kategorije{
    float: left;  
    width: 20%;
    line-height: 1.9;
    background-color: #f1f1f1;

}


#trazilica{
    float: right; 
    width: 20%; 

}

.alignright {
    
	float: right;
}

.alignleft {

    float: left;
}

#form {

   
    padding: 30px;
    line-height: 1.5;
    text-align: left;  
    width: 50%;
    margin: auto;
}